
@font-face {
    font-family: 'uddigikyokasho-pro';
    font-style: normal;
    font-weight: 400;
    src: url('UD_Digi_Kyokasho_NP-B.ttf') format('truetype');
    /* src: url('https://gitee.com/Kuuuuud/sauce/raw/master/Fonts/uddigikyokasho-pro/UD%20Digi%20Kyokasho%20NP-B.ttf') format('truetype'); */
    /* unicode-range:  */
}